<%= form_tag forget_password_users_url, :remote => true do %>
  <div>
    <span id = "forget_password_error"> <%= flash[:forget_password] %></span><br>
    <%= email_field_tag :email, "", :placeholder => "Enter registered email" %>
    <%= submit_tag "Submit", :id => "forget_password_submit"%>
  </div>   
  <div></div>
<% end %>