<%= form_tag users_path, :method => :get, :class => "search_ajax" do %>
  <p class = "search_p">
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  <div class = "sort_paginate_ajax"><%= render 'users' %></div>
<% end %>
