<br><span><b>Categories:</b></span>
<ul id = "category">
  <% Category.all.each do |category| %>
  <li>
    <%= link_to category.name, category_path({:category_id => category.id}) %>
  </li>
  <% end %>
  <li>
    <%= link_to 'Commodities', commodities_url %>
  </li>
</ul>