<%= link_to 'Home', commodities_url %>
<br>
<span><b>Categories:</b></span>
<ul id = "category">
  <% Category.all.each do |category| %>
  <li>
    <%= link_to category.name, category_commodities_url(category) %>
  </li>
  <% end %>
  <%= link_to 'New Launches', commodities_url(new_launch: true) %>
</ul>