<span>Categories:</span>
<ul id = "category">
  <% Category.all.each do |category| %>
    <li>
      <%= link_to category.name, category_path({:category_id => category.id})%>
    </li>
  <% end %>
</ul>