<%= link_to 'Home', commodities_url %>
<br>
<span><b>Categories:</b></span>
<ul id = "category">
  <% Category.all.each do |category| %>
  <li>
    <%= link_to category.name, commodities_url(category_id: category.id) %>
  </li>
  <% end %>
</ul>