/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.header{
    h1{
      padding-left: 10px;
      display: inline;
      vertical-align: center;
    }
    div{
      float: right;
      width:auto;
      margin-right:10px;
      a{
        color:white;
        background-color: black;
      }
    }
  height: 40px;
  background-color: #ab2c26;
  color:#e1e1e1;
 }
body{
  margin: 0px;
}
div{
  margin: 0px;
}
#main_table{
  margin: 0px;
  border-collapse: collapse;
}
#main_row{
  background-color: green;
  margin: 0px;
  #left_col{
    float:left;
    padding: 1em 2em;
    width: 250px;
    background-color: green;
    margin: 0;
    div#admin_links{
      ul{
        margin: 0px;
        padding: 0px;
        list-style: none;
      }
    }
  }
  #right_col{    
    border: 1px solid white;
    background-color: white;
    h1{
      margin:0px;
    }
  }
}
#buy_column {
  background-color: #ab2c26;
  border:1px solid black;
  a{
    background-color: blue;
    color:#e1e1e1;
  }
}

#notice{
  margin-top: 5px;
  margin-left:25%;
  width:50%;
  height:15px;
  padding:15px;
  color:green;
  border: 2px solid green;
  background-color: #e1e2e3;
  text-align: center;
}

#error{
  margin-top: 5px;
  margin-left:25%;
  width:50%;
  height:15px;
  padding:15px;
  color:red;
  border: 2px solid red;
  background-color: #e1e2e3;
  text-align: center;
}
#no_commodity{
  background-color: grey; 
}
#login_table{
  tr{
    td:first-child{
      width:200px;
      text-align: left;
    }
    td:last-child{
      text-align: right;
    }
  }
}
.error{
  input{
    border: 2px solid red;
  }
  color: red;
}
#signup{
  background-color: #e1e2e3;
  width:700px;
  color:black;
}
#side_show{
  float: right;
  #slideshow{
    margin-top: 20px;
    border: 2px solid black;
    width: 120px;
    height: 120px;
    display:inline-block;
    img{
      padding: 10px;
      float: left;  
    }
  }
  text-align:right;
}
#show_left{
  margin-left: 20px;
  float: left;
  width:400px;
  margin-right: 100px;
}
#actual_price{
 text-decoration: line-through;
 color: grey;
}
#selling_price{
  font-weight: bold;
  color:#ab2c26;
}
#buy_at_show, #buy_at_show th, #buy_at_show td {
  border: 1px solid black;
  padding: 6px;
  border-collapse: collapse;
  font-size: 20px;
  input[type = submit]{
    width : 50px;
    height: 25px;
    margin-left: 25px;
    float: left;
  }
}
#buy_at_show td:last-child{
  width: 100px;
}
.hide_cart{
  z-index: -1;
  display: none;
}
.show_cart{
  z-index: 999;
  display: block;
  position: fixed;
  background-color:rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
  border: 2px solid black;
  filter:alpha(opacity =60);
}
#cart_link{
  color: black;
  font-size: 20px;
  margin-left: 80px;
  background-color: orange;
  padding: 3px 20px;
}
.inner_cart{
  clear:both;
  min-height: 450px;
  width: 700px;
  height: auto;  
  margin-top: 120px;
  margin-left: 300px;
  border: 3px solid black;
  background-color:  #FFFDD0;
  opacity: 1;
}
#close_cart{
  float: right;
  color: red;
  background-color: #e1e2e3;
  margin-top: 5px;
  margin-right: 10px;
  padding: 3px;
}