// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2{
  text-align: center;
}
#cart_table{
  margin: 20px;
  text-align: center;
  border-collapse: collapse;
  width: 90%;
  tr{
    td{
      padding: 5px;
      text-align: center;
      border: 1px solid black;
      a{
        background-image: url(/assets/cross_circle.png);
        padding-left: 15px;
        background-repeat: no-repeat;
      }
    }
  }
}
#no_item_p{
  margin-left: 50px;
  background-color: #e1e2e3;
  width: 600px;
  text-align: center;
}
#pro_to_shop{
  margin-right: 50px;
  float: right;
  background-color: #e34e34;
  text-decoration: none;
  color: white;
}
#scroll_cart{
  height: 250px;
  overflow:auto;
  padding-left: 30px;
  box-shadow:0px 3px 5px  #888888;
}
#cart_footer{
  padding:10px;
  a{
    float: right;
    margin-right: 150px;  
    background-color: #e34e34;
    text-decoration: none;
    color: white;
  }
}
#tot_price {
  float: right;
  margin-right: 20px;
}
.green_div{
  display: block;
  width: 80%;
  height: 20px;
  padding: 10px 0px;
  margin:auto;
  text-align: center;
  background-color: #C7EC9E;
  border: 2px solid green;
}
.red_div{
  display: block;
  width: 80%;
  height: 20px;
  padding: 10px 0px;
  margin:auto;
  text-align: center;
  background-color: #FFECEC;
  border: 2px solid red;
}
#flash_message{
  display: none;
}
input.update_quantity_button{
  display: none;
}