// Place all the styles related to the Commodity controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#add {
  float:left;
  display:none;
}
fieldset{
  legend{
    background-color: green;
    color: white;
  }
  width:530px;
  height:auto;
  background-color: purple;
  color:white;
}
fieldset.add_category{
  width:300px;
}
fieldset.sub_fieldset{
  width:500px;
  clear:left;
}
#new_commodity{
  img{
    height: 20px;
    vertical-align: bottom;
  }
}
input[type = "submit"]{
  float:right;
}